/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the hero section */
.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 150px 0;
}

/* Styling for featured products section */
.featured-products {
    padding: 50px 0;
}

.featured-products h2 {
    text-align: center;
    margin-bottom: 30px;
}

footer{
    width: 100%;
    padding: 50px 0;
    background-color: gray;
    text-align: center;
}
strong{
    text-decoration-color: aquamarine;
}


body {
    background-image : url("");  
    background-color : #cccccc;  
    width: 500px;
    height: 500px; ;
    }
.main{
    background-color: black;
}